* {
	margin: 0;
	padding: 0;
}

.savepassword {
	margin-top: 100px;
	background-image: url("../../assets/savep.png");
	background-size: 120%;
	background-repeat: no-repeat;
	background-position: center;
	width: 95%;
	height: 100vh;
}

h1 {
	text-align: center;
	margin-top: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 0 0 50px;
}

.input {
	margin-top: 60px;
}

.password-setup-input {
	padding: 0.5rem;
	margin-bottom: 50px;
	outline: none;
	border: none;
	background: #f8f9fc;
}

.arrowimage {
	margin-left: 25px;
}

.savebutton {
	padding: 0.5rem;
	outline: none;
	border: none;
	background: #d33a39;
	color: white;
	font-size: 1rem;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.arrowimage {
		margin-left: 30px;
	}

	.form {
		width: 80%;
		margin: 30px 0 0 100px;
	}

	.input {
		margin-top: 110px;
	}

	.input-cpwd {
		padding: 1rem;
	}

	.savebutton {
		padding: 1rem;
		font-size: 1.5rem;
	}
}

@media screen and (min-width: 769px) {
	.savepassword {
		background-size: 40%;
		background-position: right;
	}

	h1 {
		margin-top: 10px;
	}

	.form {
		width: 45%;
		margin: 0 0 0 269px;
	}

	.input {
		margin-top: 110px;
	}

	.input-cpwd {
		padding: 1rem;
	}

	.arrowimage {
		margin-left: 70px;
	}

	.savebutton {
		padding: 1rem;
		font-size: 1.5rem;
	}
}
