.testimonies-section {
    padding: 4em;
}

.testimonies {
    background: #F8F8F8;
    margin: 1em 0;
    padding: 0.5em;
    width: 80%;
    border: 0.5px solid #DFDBDB;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(216, 216, 216);
}

.first {
    align-self: flex-end;
}
.second {
    align-self: flex-start;
}

@media screen and (max-width: 375px) {
    .testimonies-section{
        padding: 1em 2em;
    }
}