* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.vector {
	margin: 70px 0 0 4%;
}

.nextbutton {
	width: 100%;
	padding: 20px;
	border: none;
	background-color: #d33a39;
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
	margin-top: 50px;
}

.forgot-password-form {
	width: 100%;
	padding-top: 20px;
}

.forgot-password {
	width: 85%;
	margin: 0 auto;
	display: flex;
}

.entry {
	width: 100%;
	margin: 10px 0 60px 0;
	background-color: #f8f9fc;
}

.entry img {
	width: 30px;
	margin: 0 6px;
	vertical-align: middle;
}

.email-reset-input {
	width: 80%;
	margin: 20px 4px;
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 16px;
}

.image-div {
	display: none;
}

.para1 {
	font-size: 30px;
	margin: 20px;
}

.para2 {
	line-height: 1.5;
	margin: 20px 0;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
	.forgot-password {
		width: 65%;
	}

	.vector {
		margin-left: 3%;
	}
}

@media screen and (min-width: 769px) {
	.image-div {
		display: block;
		padding: 0 0 0 20px;
	}

	.image-div img {
		width: 230px;
	}

	.para1 {
		margin-left: 50px;
	}

	.para2 {
		margin-left: 30px;
	}

	.input {
		margin-top: 0;
	}

	.vector {
		margin: 100px 0 0 5%;
	}
}
